{% extends 'furnapp/main.html' %}
{% load static %}
{% block content %}

    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="fadeInUp" data-delay=".4s" >About </h1>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">About</a></li> 
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? About Area Start -->
        <div class="about-area section-padding40">
                <div class="container" style="padding-top: 30px;padding-bottom: 60px; background-color: rgb(247, 219, 210);">
                    <h1 class="display-3" style="font-weight: bold;text-align: center;">Who Are We</h1>
                    <br>
                    <p style="text-align: center;font-size: larger;color: black;">
                        To discover new furniture design ideas was never so handy, browse over 500 products from our top categories for an ultimate online furniture shopping experience. To choose furniture for a living space is as tricky as doing the interiors. Either you’re redoing or changing the place, all you need to know is cheap online furniture shops from where you can buy quality products. From vintage to contemporary, we’ve a huge collection of home décor furniture items amongst which our lamps, area rugs, sofas, chairs and beds are making rounds in the local market. You can browse as many furniture designs via our portal across different categories; plus we have given the option of sorting and filter so that you can pick and choose size, color and availability.
                    </p>
                    <br><br>
                   <center><div>
                    <img src="{% static 'img/gallery/visit_bg.png'%}" alt="" width="350px" height="300px">
                    <img src="{% static 'img/gallery/instra2.png'%}" alt="" width="350px" height="300px">
                    <img src="{% static 'img/gallery/instra1.png'%}" alt="" width="350px" height="300px">
                    </div></center>
                </div>
            
        </div>
        <!-- About Area End -->
        
    <!--? Services Area Start -->
    <div class="categories-area section-padding40 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="{% static 'img/icon/services1.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Fast & Free Delivery</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="{% static 'img/icon/services2.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Secure Payment</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="cat-icon">
                            <img src="{% static 'img/icon/services3.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Money Back Guarantee</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="cat-icon">
                            <img src="{% static 'img/icon/services4.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Online Support</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--? Services Area End -->
</main>
{% endblock %}