{% extends 'furnapp/main.html' %}
{% load static %}
{% block content %}


    <!--? slider Area Start-->
    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8 col-md-8">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="fadeInUp" data-delay=".4s" >Checkout</h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">checkout</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!--? Checkout Area Start-->
    <section class="checkout_area section-padding40">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>
                        
                            <form id="form">
                                <div id="user_info">
                                    <div class="form-field">
                                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                                    </div>
                                    <div class="form-field">
                                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                                    </div>
                                </div>
                                <div id="shipping-info">
                                    <hr>
                                    <p>Shipping Information:</p>
                                    <hr>
                                    <div class="form-field">
                                        <input class="form-control" type="text" name="address" placeholder="Address..">
                                    </div>
                                    <div class="form-field">
                                        <input class="form-control" type="text" name="city" placeholder="City..">
                                    </div>
                                    <div class="form-field">
                                        <input class="form-control" type="text" name="state" placeholder="Country..">
                                    </div>
                                    <div class="form-field">
                                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                                    </div>
                                    <div class="form-field">
                                        <input class="form-control" type="text" name="contact_no" placeholder="Contact no..">
                                    </div>
                                </div>
            
                                <hr>
                                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                            </form>
                        </div>

                        
                        
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li>
                                    <a href="#">Product<span>Total</span>
                                    </a>
                                </li>
                                {% for item in items%}
                                <li>
                                    <a href="#">{{item.product_id.title}}
                                        <span class="middle">x {{item.quantity}}</span>
                                        <span class="last">${{item.get_total|floatformat:2}}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            
                            <ul class="list list_2">
                                <li>
                                    <a href="#">Subtotal <span>${{oorder.get_cart_total|floatformat:2}}</span></a>
                                </li>
                                <li>
                                    <a href="#">Shipping
                                        <span>Flat rate: $50.00</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Total<span>${{oorder.get_total_with_del|floatformat:2}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Checkout Area -->

    <!--? Services Area Start -->
    <div class="categories-area section-padding40 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="{% static 'img/icon/services1.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Fast & Free Delivery</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="{% static 'img/icon/services2.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Secure Payment</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="cat-icon">
                            <img src="{% static 'img/icon/services3.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Money Back Guarantee</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="cat-icon">
                            <img src="{% static 'img/icon/services4.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Online Support</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!--? Services Area End -->
<script type="text/javascript">
        var user ='{{request.user}}'
        var total = '{{oorder.get_cart_total}}'
         
         var form = document.getElementById('form')
		form.addEventListener('submit', function(e){
	    	e.preventDefault()
            console.log('Form Submitted...')
        })
         document.getElementById('form-button').addEventListener('click', function(e){
	    	submitFormData()
	    })


function submitFormData(){
    console.log('form is saved')
    var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'address':null,
				'city':null,
				'state':null,
				'zipcode':null,
                'contact_no':null,
			}

			
	    		shippingInfo.address = form.address.value
		    	shippingInfo.city = form.city.value
		    	shippingInfo.state = form.state.value
                shippingInfo.zipcode = form.zipcode.value
                shippingInfo.contact_no=form.contact_no.value
                
                userFormData.name = form.name.value
                userFormData.email = form.email.value
                var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
            })
            .then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');  

				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

				window.location.href = "{% url 'furnapp:main' %}"

				})
	    
}

</script>
{% endblock %}